<div class="min-h-screen min-w-fit bg-slate-700 ">
    @if(popUp)
    {
      <app-modal></app-modal>
    }
    <div class="header h-20 bg-gray-100 px-10 py-4 flex items-center  justify-between pr-36">
        <h1 class="text-2xl font-semibold">
            User Management
        </h1>

        <div class="flex gap-4">

            <div [routerLink]="'/register'"
                class="px-4 py-2 rounded-xl bg-blue-400 flex items-center text-white cursor-pointer transition-all hover:scale-105 hover:bg-blue-600 hover:text-black">
                create user
            </div>
            <div (click)="handleLogout()"
                class="px-4 py-2 rounded-xl bg-red-400 flex items-center text-white cursor-pointer transition-all hover:scale-105 hover:bg-red-600 hover:text-black">
                logOut
            </div>
        </div>

    </div>
    <div class="body px-10 py-10 flex flex-col gap-2 ">
       
        @if (handleEmpty()) {

        <div class="w-full  flex justify-center items-center  py-10 ">
            <h1 class="text-black font-bold text-2xl border-b">

                No User Found !
            </h1>
        </div>
        }
        @else {
        @for (item of userList; let i = $index; track i) {
        <app-list [itemprop]="item" [index]="i"></app-list>
        }

        }
    </div>


</div>